* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
    padding: 16px;
    text-align: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    /* display: inline-block; */
    margin-right: 16px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styles pour les cartes de film */
#movies {
    position: relative;
}

.movies-container , .series-container{
    display: -webkit-box;
    /* display: -webkit-inline-box; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    margin: auto;
    width: 79%;
    border: 1px solid;
    height: 435px;
    overflow-x: scroll
}

h2 {
    text-align: center;
}

.movie-card, .serie-card{
    width: 247px;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin: 16px;
}

.movie-card img , .serie-card img{
    width: 75%;
    border-radius: 4px;
    margin-bottom: 8px;
}

/************* page détail ***********************/
.detail-container {
    display: flex;
    width: 68%;
    margin: auto;
    border: 1px solid;
    justify-content: space-around;
}

.detail-img-box {
    width: 33%;
}

.detail-img-box img {
    position: relative;
    width: 100%;
}

.infos {
    width: 45%;
}

.companies-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.companies-box {
    width: 65px;
    margin-right: 13px;
}

.companies-box img {
    position: relative;
    width: 100%;
}

/***************page movies *****************/

.grid {
    display: inherit;
    display: flex;
    flex-wrap: wrap;
    height: auto;
}




@media (max-width: 600px) {
    .film-card {
        width: 100%;
    }
}
