.navbar {
    background-color: #333;
    padding: 16px;
    text-align: center;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    /* display: inline-block; */
    margin-right: 16px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styles pour les cartes de film */
.movies-container {
    display: flex;
    flex-wrap: wrap;
}

.movie-card {
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin: 16px;
}

.movie-card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 8px;
}

@media (max-width: 600px) {
    .film-card {
        width: 100%;
    }
}
